# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Virtual environments
venv/
env/
.env/
.venv/
env.bak/
venv.bak/

# Logs and databases
*.log
*.sqlite3
